/* Remove after testing */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box sizing: border-box;
}

/* --------------------- */

.home,
.types,
.sweets,
.about,
.ingredients {
  width: 100%;
  padding: 100px 0;
}




/* header */

header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 500;
  box-shadow: 0 2px 10px #cecece;
  padding: 15px 0 8px 0;
  background: #003300;
}

.navigation {
  color: #ddc0a1;
  padding: 10px;
  font-size: 1em;
}

.branding {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452954/SIMPLY%20SNACKS.svg") no-repeat;
  width: 170px;
  height: 80px;
  float: left;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
}


nav {
  margin-top: 10px;
  float: right;
}


nav ul {
  list-style-type: none;
  text-align: right;
}


nav li {
  font-family:'Roboto', sans-serif;
  font-weight: 900;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}

nav li a:link {
  color: #091c5a;
  text-decoration: none;
}

nav li a:visited {
  color: #091c5a;
  text-decoration: none;
}

nav li a:hover {
  color: #000000;
  text-decoration: none;
}

nav li a:active {
  color: #ffffff;
  text-decoration: none;
}



.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

/* end header */


.hero-slide {
  padding-top:80px;
}

/* Home */


.home {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452954/22949604-dark-granite-texture-Close-up-photo-Stock-Photo.jpg);
  width: 100%;
  height: 500px;
  margin:auto;

}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
  background-image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/1452954/granitee.jpg";
}

.home p{
  color: #003300;
  
}

.inner {
  float:center;
  background-color:#eeeeee;
  opacity: .7;
  width: 940px;
  height: 300px;
}

/*button */


.button {
  display: inline-block;
  padding: 0 25px;
  background-color: #B95B16;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 47px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .4);
  justify-content: center;
  
}

.button:link {
  color: #ffffff;
  text-decoration: none;
}



.button:hover {
  background-color: #B95B16;
}




/* end home */


/* Types */

h1 {
  color: #ddc0a1;
 text-align: center;
  font-size: 2em;
  font-weight:bold;
}

p {
  color:  #ddc0a1;
  text-align:center;
  font-size: 1em;
}


.types {
  width:100%;
  margin-bottom: 100px;
  background-color: #003300;

}




.boxgrid h3 {
  margin: 10px 10px 0 10px;
  color: #fff;
  font: 18pt Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.boxgrid {
  width: 300px;
  height: 260px;
  float: left;
  background: #161613;
  overflow:hidden;
  position:relative;
  border-radius: 10px;
}

.boxgrid img {

  top: 0;
  left: 0;
  border: 0;
}

.boxgrid p {
  padding: 0 10px;
  color: red;
  font-weight:bold;
  font: 10pt "Lucida Grande", Arial, sans-serif;
}

.boxcaption {
  float: left;
  position: absolute;
  background: #000;
  height: 100px;
  width: 100%;
  opacity: .8;
}

.boxgrid a {
  color: #fff;
  text-decoration: none;
}

.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}

.row {
  float: right;
  margin-top: 20px;
	margin-right: 80px;
	margin-bottom: 20px;
	
}


h3 {
  text-align: center;
  color: #ddc0a1;
}

/*End Types */

/*Sweets*/

.sweets h1 {
  color: #ddc0a1;
 text-align: center;
  font-size: 2em;
  font-weight:bold;
}

.fa-camera-retro {
  margin: 86px 83px;
  color: #00CCFF;
}



.sweets {
  width: 100%;
  padding: 100px 0;
  background-color: #216826;
  overflow: hidden;
	align-content: center;
}


.sweet-button {
	float:right;
	margin-right: 10px;
}



.sweets-intro a:link {
  text-decoration: none;
  color: #ffffff;
}


.sweets-grid .columns_4 {
  background-color: rgba(255,255,255,0.5);
  width: 215px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  height: 215px;
  margin: 0 10px;
}


.sweets-grid .columns_4 p {
  text-align: center;
  margin-bottom: 0;
}




.sweets-grid {
  overflow: hidden;
  clear: both;
  margin-bottom: 20px; 
}



/* Recipe */

.recipe {
  width:100%;
  padding: 100px 0 100px 0;
  background-color: #ddc0a1;
  align-content:center;
}
	
.recipe h1{
	color: #003300;
}

.recipe p{
	color: #003300;
}

.directions {
	width:50%;
	align-content: center;
	
}

.recipe-button {
	margin-left:120px;
}

/* Ingredients/Carousel */

h2 {
  color: #003300;
 text-align: center;
  font-size: 2em;
  font-weight:bold;
}

.carousel {
  background: #;
}

.carousel p {
	color:#003300;
}

.ingredients {
  padding: 100px 0;
  background: #ffffff;
}


.carousel-cell {
  width: 30%;
  height: 420px;
  margin-right: 15px;
  counter-increment: carousel-cell;
  text-align: center;
}




footer {
  width:100%;
  height:200px;
  overflow: hidden;
  background-color: #003300;
  padding-top: 20px;
  text-align: center;
  float:center;
  
}


.columns_3 {
	font-size:1em;
	margin-right: 
}

footer a:link {
  color: #CCB289;
  text-decoration: none;
  outline: 0;
}

footer a:visited {
  color: #CCB289;
  text-decoration: none;
  outline: 0;
}

footer a:hover {
  color: #CCB289;
}

footer a:active {
  color: #CCB289;
}

#footer-nav h4 {
  font-size: .8em;
  margin-bottom: 10px;
  color: #CCB289;
float:center;
}

.fa-pinterest,
.fa-facebook,
.fa-twitter,
.fa-instagram {
  font-size: 1em;
  line-height: 1.2;
  color: #CCB289;
  
}

.copyright {
  background-color: #003300;
  width: 100%;
  color: #CCB289;
  
}

#footer-nav {
  overflow: hidden;
  clear: both;
  text-align: center;
  color: #CCB2899
 
}

.copyright p {
  margin-bottom: 10px;
}

#footer-nav p {
  color: #ffffff;
  margin: 0;

}

